body { 
  background: #0f0f1f; 
  color: whitesmoke;

  /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
  padding-top: 90px
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {
    color: #e31b6d;
    font-size: 200%;
    font-weight: bolder;
}

.button {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}

.page-link {
    cursor: pointer;
}

.button .mdi {
    position: absolute;
    right: 15px;
    top: 11px;
    transition: transform 0.3s;
}
.button .mdi {
    vertical-align: middle;
}

.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}