.header {
  /* creates solid line for the bottom border  */
  border-bottom: solid;
  border-bottom-color: rgb(209, 203, 111);
  background-color: #B8C9D1;
}

.nav-link {
  color: black !important;
}

.btn-success {
  background-color: #B8C9D1 !important;
  border-color: #B8C9D1 !important;
  /* color: #4C7684 !important; */
  /* color: #777 !important; */
  color: black !important;
  font-weight: bold;
}

/* Change the color of links on hover */
.btn-success:hover {
  /* transition to lager buttons with contrasting colors*/
  /* background-color: #4Cabc2 !important; */
  background-color: #4C7684 !important;
  color: #fff !important;

  transform: scale(1.1);

  transition: color 0.75s;
  transition-property: color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;

  transition: background-color 0.75s;
  transition-property: background-color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
}